/* Paleta de colores #FC7300 , #1F8A70 , #00425A ,
#181823, #EFF5F5
 */
 @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:wght@300&display=swap');
/*  font-family: 'Belanosima', sans-serif;
 font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
}



/* Banner */
.banner {
  position: relative;
  max-width: 100%; /*ancho máximo*/
  width: 100%;
  height: 60vh;
  overflow: hidden; /*sobresalga */
}

.banner img {
  width: 100%; /*ancho */
  height: 50em; /*altura*/
  display: block;
}
.titulo-banner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto; /* Centrar*/
  color: white;
  font-size: 5vw;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* ---------------------------------------------- */

/* Quienes Somos*/

.contenido {
  max-width: 100%; /*ancho máximo*/
  margin: 0 auto; /* Centrar */
  padding: 20px; 
}

.contenido h2 {
  margin-bottom: 20px; /* Espacio*/
  text-align: center;
}

.imagen-con-texto {
  display: flex; 
  align-items: center; /* Alinear verticalmente*/
}

.imagen-con-texto img {
  max-width: 50%; /*tamaño de la imagen*/
  margin-right: 20px; 
}

.imagen-con-texto p {
  flex: 1; /*espacio restante*/
}

/* Noticias */

.box {
  display: flex;
}

.subtitulo-izquierdo,
.subtitulo-derecho {
  flex: 1; /*mismo ancho */
  padding: 20px; /* Espaciado interno*/
}

.subtitulo-izquierdo h3,
.subtitulo-derecho h3 {
  margin: 0;
}

.subtitulo-izquierdo p,
.subtitulo-derecho p {
  margin: 0;
}





/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a varias filas si es necesario */
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.redes-sociales a {
  margin-right: 10px;
}

.redes-sociales img {
  width: 20px;
  height: 20px;
}

.nombre-instituto h3 {
  margin: 0;
}

.contactos p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; 
    text-align: center; 
  }

  .redes-sociales {
    margin-bottom: 10px; 
  }
}
/* ---------------------------- */









