/* Paleta de colores #FC7300 , #1F8A70 , #00425A ,
#181823, #EFF5F5
 */
 @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:wght@300&display=swap');
/*  font-family: 'Belanosima', sans-serif;
 font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
}



/* Banner */
.banner {
  position: relative;
  max-width: 100%; /*ancho máximo*/
  width: 100%;
  height: 60vh;
  overflow: hidden; /*sobresalga */
}

.banner img {
  width: 100%; /*ancho */
  height: 50em; /*altura*/
  display: block;
}
.titulo-banner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto; /* Centrar*/
  color: white;
  font-size: 5vw;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* ---------------------------------------------- */

/* Quienes Somos*/

.contenido {
  max-width: 100%; /*ancho máximo*/
  margin: 0 auto; /* Centrar */
  padding: 20px; 
}

.contenido h2 {
  margin-bottom: 20px; /* Espacio*/
}

.imagen-con-texto {
  display: flex; 
  align-items: center; /* Alinear verticalmente*/
}

.imagen-con-texto img {
  max-width: 50%; /*tamaño de la imagen*/
  margin-right: 20px; 
}

.imagen-con-texto p {
  flex: 1; /*espacio restante*/
}




/* Footer */

.footer {
  display: flex; /* Utilizar flexbox para alinear los elementos */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Alinear verticalmente los elementos */
  background-color: #f2f2f2; /* Color de fondo del pie de página */
  padding: 20px; /* Espaciado interno para el pie de página */
}

.redes-sociales a {
  margin-right: 10px; /* Espacio entre los íconos*/
}

.redes-sociales img {
  width: 20px; /*ancho*/
  height: 20px; /*altura*/
}

.nombre-instituto h3 {
  margin: 0;
}

.contactos p {
  margin: 0;
}

